<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="stylesheet" href="/assets/cnd/iview/3.1.5/styles/iview.css">
  <link rel="stylesheet" href="/assets/cnd/waves/0.7.6/waves.min.css">
  <link rel="stylesheet" href="/assets/gitalk/gitalk.css">
  <link rel="stylesheet" href="/assets/index/index.css">
  <link rel="stylesheet" href="/assets/highlight/syntax-highlighting.css">  
  <script src="/assets/cnd/vue/2.5.17/vue.min.js"></script>
  <script src="/assets/cnd/iview/3.1.5/iview.min.js"></script>
  <script src="/assets/cnd/waves/0.7.6/waves.js"></script>
  <script src="/assets/index/index.js"></script>
  <script src="/assets/gitalk/gitalk.min.js"></script>
</head>
