<div class="left">
    <div class="card-item">
        <card>
            <div class="title">
                <i> <icon size="24" type="md-contact"/></i>
                &nbsp;
                <span>基本信息</span>
            </div>
            <div>
                <i><icon size="16" type="md-pin"/></i>
                &nbsp;
                <span>湖南</span></div>
            <div>
                <i><icon size="16" type="md-phone-portrait"/></i>&nbsp;
                <span>176xxxxx</span>
            </div>
            <div>
                <i><icon size="16" type="md-mail"/></i>
                &nbsp;
                <span><a href="mailto:1427985322@qq.com">1427985322@qq.com</a></span></div>
        </card>
    </div>
    <div class="card-item">
        <card>
            <div class="title">
                <i>
                    <icon size="24" type="md-build"/>
                </i>&nbsp;<span>技能特长</span>
            </div>
            <div class="speciality">
                <row>
                    <i-col span="24">java</i-col>
                    <i-col span="20">
                        <i-progress :percent="100"/>
                    </i-col>
                    <i-col span="4">熟练</i-col>
                </row>
            </div>
            <div class="speciality">
                <row>
                    <i-col span="24">mysql</i-col>
                    <i-col span="20">
                        <i-progress :percent="100"/>
                    </i-col>
                    <i-col span="4">熟练</i-col>
                </row>
            </div>
            <div class="speciality">
                <row>
                    <i-col span="24">linux</i-col>
                    <i-col span="20">
                        <i-progress :percent="100"/>
                    </i-col>
                    <i-col span="4">熟练</i-col>
                </row>
            </div>
            <div class="speciality">
                <row>
                    <i-col span="24">c#</i-col>
                    <i-col span="20">
                        <i-progress :percent="100"/>
                    </i-col>
                    <i-col span="4">熟练</i-col>
                </row>
            </div>
        </card>
    </div>
</div>
